.contacto {
    font-family: var(--font-family);
    margin: 0 10rem;
    background-color: var(--color-blue-dark-200);
}
.contacto-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contacto-title h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}
.contacto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto-form {
    display: flex;
    flex-direction: row;
}
.form-inputs{
    display: flex;
    flex-direction: column;
}
.contacto-form input{
    font-family: var(--font-family);
    padding-left: 2rem;
    font-size: 16px;
    height: 60px;
    width: 35vw;
    color: black;
    margin: 1.5rem;
    border-radius: 5px;
    border: none;
}
.contacto-form textarea{
    font-family: var(--font-family);
    padding: 1.5rem;
    font-size: 16px;
    width: 35vw;
    color: black;
    margin: 1.5rem;
    border-radius: 5px;
    border: none;
}
.contacto-form input::placeholder, .contacto-form textarea::placeholder{
    font-weight: 700;
    color: grey;
}
.contacto-form input:focus, .contacto-form textarea:focus{
    outline: 2px solid var(--color-blue-dark-400);
}
@media screen and (max-width: 900px){
    .contacto {
        margin: 0 1rem;
    }
    .contacto-form {
        flex-direction: column;
    }
    .contacto-form input {
        width: 75vw;
    }
    .contacto-form textarea {
        width: 75vw;
    }
}
