.hero {
    font-family: var(--font-family);
    margin-top: 0;
    padding: 5rem 0 5rem 0;
    background-image: url('../assets/img/hero-bg.jpg');
    background-position: 0 45%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.hero-description {
    margin: 5rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
}
.hero-description img{
    position: absolute;
    right: 15rem;
    margin: 5rem 7rem;
    border: 4px solid var(--color-blue-light-100);
    border-radius: 50%;
    object-position: 30% 100%;
    object-fit: cover;
    width: 350px;
    height: 350px;
    transform: scale(1.2);
}
.hero-description h1 {
    text-transform: uppercase;
}
.hero-description h3 {
    margin-top: 3rem;
    text-transform: uppercase;
}
.hero-description p {
    padding-top: 3rem;
}
.hero-socialmedia {
    margin: 2rem 0 0 0;
    display: inline-block;
}
.hero-socialmedia a{
    width: 35px;
    height: 35px;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}
.hero-socialmedia a::before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.hero-socialmedia a:hover::before {
    transform: scale(1);
}
.hero-socialmedia a:hover .icon{
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.hero-button{
    background: var(--color-yellow-dark-300);
    margin: 3rem 0;
    border-radius: 0.25rem;
    padding: 1.5rem 4rem 1.5rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.hero-button:hover{
    background: var(--color-yellow-dark-500);
}

@media screen and (max-width: 1050px){
    .hero {
        height: 1100px;
    }
    .hero-description {
        align-items: center;
        text-align: center;
    }
    .hero-description img{
        position: static;
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 500px) {
    .hero {
        height: 1300px;
        background-position: center;
    }
}