.navbar {
    height: 6vh;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 1rem 1rem 1rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue-dark-500);
    color: white;
    font-family: var(--font-family);
    z-index: 1000;
}
.navbar-menu {
    display: flex;
    flex-direction: row;
}
.navbar-menu p{
    padding: 0;
    margin: 0 1rem;
    text-transform: capitalize;
}
.navbar-menu p:hover{
    color: var(--color-blue-dark-100);
    transition: ease;
    transition-delay: 10ms;
}