.social-icon a{
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}
.social-icon a::before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a:hover .icon{
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}