* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: var(--color-blue-dark-400);
}

a {
    color: unset;
    text-decoration: none;
}

.section-padding {
    padding: 4rem 5rem;
}