@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
:root{
  --font-family: 'Montserrat', sans-serif;
  --color-blue-dark-500: #012A4A;
  --color-blue-dark-400: #013A63;
  --color-blue-dark-300: #01497C;
  --color-blue-dark-200: #014F86;
  --color-blue-dark-100: #2A6F97;
  --color-blue-light-500: #2C7DA0;
  --color-blue-light-400: #468FAF;
  --color-blue-light-300: #61A5C2;
  --color-blue-light-200: #89C2D9;
  --color-blue-light-100: #A9D6E5;
  --color-yellow-dark-500: #DF6C02;
  --color-yellow-dark-400: #E37902;
  --color-yellow-dark-300: #EB9302;
  --color-yellow-dark-200: #EF9F01;
  --color-yellow-dark-100: #F3AC01;
}
